.answer {
  width: 27vw;
  height: 20vh;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 0 #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer:hover {
  box-shadow: 0 3px 0 #55A;
  border: 1px solid #55A;
}

#answerPanel {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answerWrapper {
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 30px;
}

#daFont {
  font-family: "Comic Sans MS";
  font-size: 50px;
}

#fontInQuestion {
  width: 60vw;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 0 #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fontWrapper {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Comic Sans MS";
  font-size: 40px;
}

h2 {
  font-family: Comic;
  font-size: 25px;
  margin: 0;
  border: 1px solid lightgrey;
  padding-top: 3vh;
  padding-bottom: 3vh;
  box-shadow: 0 3px 0 #555;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#panelWrapper {
  display: flex;
  justify-content: space-around;
}

#points {
  height: 10vh;
  width: 8vw;
  margin-top: 8vh;
  text-align: center;
}

#spacer {
  height: 10vh;
  width: 8vw;
}

#stage {
  display: flex;
  justify-content: space-around;
  height: 30vh;
}

#title {
  height: 20vh;
  text-align: center;
}

@media screen and (max-width: 660px) {

  .answerWrapper {
    font-size: 15px;
  }
  #daFont {
    font-size: 25px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 12px;
  }

}
